 *{
   box-sizing: border-box;
}
body{
   font-family: 'Mulish', sans-serif;
   font-size: 16px;
   font-weight: 400;
}
.header {
   display: flex;
   align-items: center;
   padding: 20px 70px 20px 32px;
   margin-bottom: 30px;

}
.menu-button {
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: #fff;
   width: 20px;
   height: 17px;
   border: none;
   margin-right: 28px;
   cursor: pointer;
}
.menu-line {
   display: block;
   width: 20px;
   height: 3px;
   background-color: #1F2022;
   border-radius: 20px;
}
.logo{
   padding: 0px 59px 0px 0px;
}
.input-group {
   display: flex;
   justify-content: space-between;
   background: #EBEBEB;
   /* mix-blend-mode: normal; */
   /* opacity: 0.3; */
   border-radius: 22px;
   align-items: center;
   padding: 0px 13px 0px 0px;
   max-width: 830px;
   width: 50%;
}
.input-search {
   background-color: transparent;
   border: none ;
   padding: 12px 23px 12px 23px;
   width: 100%;
}
.input-search:hover{
   border:none
}
.button-search {
   width: 19px;
   height: 19px;
   border: none;
   background-color: transparent;
   cursor: pointer;
}
.icon-search{
   fill: #000;
}
.icons {
   display: flex;
   align-items: center;
   margin-left: auto;
}
.icon {
   fill: #000;
}
.icon-submenu {
   opacity: 0.24;
}
.icon-submenu:hover{
   opacity: 0.7;
}
.icons-link:not(:last-child){
   margin-right: 50px;
}
.user{
   margin-left: 45px;
}
.user-avatar{
   width: 40px;
   height: 40px;
   border-radius: 50%;
}
.sidebar {
   padding: 0px 0px 0px 32px;
}
.nav-menu {

   list-style-type: none;
   padding-left: 0;
}
.one-menu{
   margin: 0px 0px 32px 0px;
}
.two-menu{
   margin: 0px 0px 32px 0px;
}
.subscriptions{
   margin: 0px 0px 76px 0px;
}
.nav-link{
   text-decoration: none;
   color: #898989;
   margin-bottom: 28px;
   display: flex;
   align-items: center;
}
.nav-link:last-child{}
.nav-link:hover{
   color: #FF0000;
}
.nav-link:hover .icon{
   fill: #FF0000;
}
.nav-item .icon {
   fill: #898989;
}
.nav-text {
   margin: 0px 0px 0px 13px;
}
.nav-title {
   margin: 0px 0px 30px 0px;

}
.nav-item {
   display: flex;
   align-items: center;
}
.icon-show {
   margin-left: 5px;
}
.nav-image {
   width: 26px;
   height: 26px;
   border-radius: 50%;
}
.text-show {
   padding-left: 3px;
}
.nav-subscriptions{
   padding: 0;
}
.nav-setting{
   padding: 0;
   margin: 0px 0px 12px 0px;
}